.App {
  text-align: center;
}

img {
  width: 100%;
}


.container {
  display: flex;
}

.col {
  flex: 1;
  margin: 30px;
}

.image-container {
  position: relative;
  width: 100%;
}

.tv-show-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tv-show-poster {
  width: 100%;
  height: 100%;
  display: block;
}

#avatar-image:hover #avatar-overlay {
  opacity: 1;
}




@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .col {
    margin: 10px;
  }
}